
.body {
    font-family: verdana;
    margin-left: 100px;
    margin-right: 100px;

}
.errorMessage{
    color:red;
}

.infoMessage{
    color:blue;
}

.warnMessage{
    color:orange;
}

.header{
    font-size:32px
}
.title{
    color: royalblue;
    font-size: 22;
}
